html,body, #espacio{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {

  background-color: black;
  background-image: url("../img/background.png");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

#panel {
  background-color: rgba(255,255,255,0.5);
  width: 150px;
  padding: 5px;
  position: relative;
  top: 6.5%;
  left: 5%;
}


#panel td {
  font-size: 12px;
  font-family: sans-serif;
  padding: 2px;
}

#opciones {
  position: relative;
  left: 58%;
  top: -21%;
  width: 250px;
}

#opciones li {
  background-color: LightGray;
  padding: 5px;
  margin: 2px;
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
  width: 100px;
  list-style: none;
}

#opciones li a {
  text-decoration: none;
  color: black;
}

#opciones li:hover {
  background-color: Tomato;
}

#cohete {
  position: sticky;
  top: 30%;
  text-align: center;
}

#cohete img {
  height: 20%;
  width: 20%;
}

#luna {
  position: relative;
  top: 25%;
}

#luna img {
  height: 10%;
  width: 50%;
}
